*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "myriad-pro", Helvetica, Arial, sans-serif;
  color: #808080;
}
.Main_Container{
  width: 100%;
  height: 100vh;
}
.Logo_Container{
  background-color: #fff;
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

}
.help{
  display: block;
  text-align: center;
  background-color: rgba(212, 212, 212, 0.849);
  width: 200px;
  height: 20px;
  color: grey;
  font-size: 13px;
  border-radius: 0 0 5px 5px;
  margin-left:80%;
}
.help a{
  text-decoration: none;
  color: #1e73ba;
}
.Logo{
  margin: 20px 0;
}
.Logo img{
  height: 53px;
  width: 270px;
}
.mid_cntnr{
  background-color: rgba(212, 212, 212, 0.849);
  padding-top: 2em;
  padding-bottom: 2em;
  width: 100%;
}
.mail_cntnr{
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 6px;
  padding: 10px 0 15px 0;
}
.frgt_pswd h1{
  padding: 18px 30px;
  border-bottom: .1px solid rgba(128, 128, 128, 0.397);
  color: #0093dd;
  font-size: 46px;
}
.para{
  margin: 30px 25px;
  font-size: 1.2em;
}
.mail{
  background-color: #d9eef7;
  padding: 30px 40px;
}
.mail label{
  font-size: 1em;
}
.input{
  margin: 5px 0;
  display: flex;
  align-items: center;
}
.input input{
  font-size: 14px;
  border-radius: 0 4px 4px 0;
  outline: none;
  border: 1px solid #ccc;
  padding: 6px 12px;
}
.envelope{
  display: flex;
  align-items: center;
  justify-content: center;
}
.fa-envelope{
  font-size: 15px;
  padding: 7px 12px;
  border: 1px solid #ccc;
  border-right: 0;
  background-color: #fff;
  color: #0093dd;
  border-radius: 4px 0 0 4px;
}
.btn button{
  background-color:#80c844 ;
  border-radius: 50px;
  border: none;
  outline: none;
  font-weight: bold;
  margin: 20px 0 5px 70px;
  cursor: pointer;
  padding: 13px ;
  color: #fff;
}
.prvcy{
  margin: 20px;
  font-size: 15px;
}
.prvcy a{
  color: #1e73ba;
  text-decoration: none;
}
.footer{
  margin: 5px 180px;
  font-size: 15px;
}

@media all and (min-width:320px)and (max-width:480px){
  .Logo_Container{
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
  }
  .help{
    display: none;
  }
  .help a{
    text-decoration: none;
    color: #1e73ba;
  }
  .Logo{
    margin: 16px 0 16px 30px;
  }
  .Logo img{
    height: 18px;
    width: 95px;
  }
  .mid_cntnr{
    background-color: rgba(212, 212, 212, 0.849);
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
  }
  .mail_cntnr{
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 6px;
    padding: 6px 0 10px 0;
  }
  .frgt_pswd h1{
    padding: 10px ;
    border-bottom: .1px solid rgba(128, 128, 128, 0.397);
    color: #0093dd;
    font-size: 18px;
    text-align: center;
  }
  .para{
    margin: 18px 15px;
    font-size: .8em;
  }
  .mail{
    background-color: #d9eef7;
    padding: 15px 20px;
  }
  .mail label{
    font-size: .5em;
  }
  .input{
    margin: 2px 0;
    display: flex;
    align-items: center;
  }
  .input input{
    font-size: 11px;
    border-radius: 0 3px 3px 0;
    outline: none;
    border: 1px solid #ccc;
    padding: 3px;
  }
  .fa-envelope{
    font-size: 10px;
    padding: 4px 5px;
    border-radius: 3px 0 0 3px;
  }
  .btn button{
    background-color:#80c844 ;
    border-radius: 20px;
    font-size: 8px;
    font-weight: normal;
    margin: 10px 0 5px 55px;
    cursor: pointer;
    padding: 6px ;
    color: #fff;
  }
  .prvcy{
    margin: 10px;
    font-size: 7px;
  }
  .prvcy a{
    color: #1e73ba;
    text-decoration: none;
  }
  .footer{
    margin: 3px 60px;
    font-size: 7px;
  }
}


@media all and (min-width:480px)and (max-width:720px){
  .Logo_Container{
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
  }
  .help{
  display: block;
  text-align: center;
  background-color: rgba(212, 212, 212, 0.849);
  width: 140px;
  height: 17px;
  color: grey;
  font-size: 10px;
  border-radius: 0 0 5px 5px;
  margin-left:67%;
}
  .help a{
    text-decoration: none;
    color: #1e73ba;
  }
  .Logo{
    margin: 17px 0 17px 60px;
  }
  .Logo img{
    height: 25px;
    width: 125px;
  }
  .mid_cntnr{
    background-color: rgba(212, 212, 212, 0.849);
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    width: 100%;
  }
  .mail_cntnr{
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 6px;
    padding: 8px 0 12px 0;
  }
  .frgt_pswd h1{
    padding: 13px 20px;
    border-bottom: .1px solid rgba(128, 128, 128, 0.397);
    color: #0093dd;
    font-size: 20px;
  }
  .para{
    margin: 20px 17px;
    font-size: .9em;
  }
  .mail{
    background-color: #d9eef7;
    padding: 18px 24px;
  }
  .mail label{
    font-size: .7em;
  }
  .input{
    margin: 2px 0;
    display: flex;
    align-items: center;
  }
  .input input{
    font-size: 15px;
    border-radius: 0 4px 4px 0;
    outline: none;
    border: 1px solid #ccc;
    padding: 3px;
  }
  .fa-envelope{
    font-size: 14px;
    padding: 5px;
    border-radius: 4px 0 0 4px;
  }
  .btn button{
    background-color:#80c844 ;
    border-radius: 25px;
    font-size: 10px;
    font-weight: normal;
    margin: 12px 0 7px 65px;
    cursor: pointer;
    padding: 9px ;
    color: #fff;
  }
  .prvcy{
    margin: 13px;
    font-size: 10px;
  }
  .prvcy a{
    color: #1e73ba;
    text-decoration: none;
  }
  .footer{
    margin: 4px 80px;
    font-size: 10px;
  }
}


@media all and (min-width:720px)and (max-width:1024px){
  .Logo_Container{
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
  }
  .help{
  display: block;
  text-align: center;
  background-color: rgba(212, 212, 212, 0.849);
  width: 170px;
  height: 18px;
  color: grey;
  font-size: 10px;
  border-radius: 0 0 5px 5px;
  margin-left:70%;
}
  .help a{
    text-decoration: none;
    color: #1e73ba;
  }
  .Logo{
    margin: 18px 0 18px 60px;
  }
  .Logo img{
    height: 30px;
    width: 160px;
  }
  .mid_cntnr{
    background-color: rgba(212, 212, 212, 0.849);
    padding-top: 1.4em;
    padding-bottom: 1.4em;
    width: 100%;
  }
  .mail_cntnr{
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 6px;
    padding: 10px 0 14px 0;
  }
  .frgt_pswd h1{
    padding: 15px 23px;
    border-bottom: .1px solid rgba(128, 128, 128, 0.397);
    color: #0093dd;
    font-size: 24px;
  }
  .para{
    margin: 25px 20px;
    font-size: 1em;
  }
  .mail{
    background-color: #d9eef7;
    padding: 20px 26px;
  }
  .mail label{
    font-size: .8em;
  }
  .input{
    margin: 2px 0;
    display: flex;
    align-items: center;
  }
  .input input{
    font-size: 17px;
    border-radius: 0 4px 4px 0;
    outline: none;
    border: 1px solid #ccc;
    padding: 5px;
  }
  .fa-envelope{
    font-size: 18px;
    padding: 6px 8px;
    border-radius: 4px 0 0 4px;
  }
  .btn button{
    background-color:#80c844 ;
    border-radius: 30px;
    font-size: 13px;
    font-weight: normal;
    margin: 15px 0 10px 85px;
    cursor: pointer;
    padding: 12px ;
    color: #fff;
  }
  .prvcy{
    margin: 15px;
    font-size: 12px;
  }
  .prvcy a{
    color: #1e73ba;
    text-decoration: none;
  }
  .footer{
    margin: 4px 90px;
    font-size: 12px;
  }
}

